<div class="container2" id="login">
  <router-outlet>

    <h1 class="LoginText">

        <i class="material-icons">keyboard_double_arrow_right</i>Login<i class="material-icons">keyboard_double_arrow_left</i>
    </h1>

    <div>
        <h1>Username</h1>
        <input type="text" pInputText class="p-inputtext-sm"> 
    </div>

    <div>
        <h1>Password</h1>
        <input type="password" Password />
    </div>

    <h1><a routerLink="/" class="button fancy-button2">
        <i class="material-icons"></i>Enter
      </a></h1>

    <div>
        <a>Sing up</a>
    </div>

  </router-outlet>
</div>